<h1>SHOW PAGE FOR COURSE</h1>

<%= @course.name %>
<br><br>
<%= @course.description %>
<br><br>
<%= @course.summary %>

<br><br>
<div>
  <p>Your Instructor for this course</p>
  <%= link_to "#{@course.user.first_name}", courses_path %>
</div>
